#hue-disco .description-2 .project-image{
	max-width: 500px;
}

#hue-disco .description-3 .project-image{
	max-width: 250px;
}

#telepaz .description-2 .project-image{
	max-width: 550px;
}

#telepaz .description-5{
	height: 800px;
}

#gagito-marketplace .description-2 .project-image{
	max-width: 600px;
}

#razer-blade-15 .description-2 .project-image{
	max-width: 550px;
}

#razer-blade-15 .description-4 .project-image{
	max-width: 600px;
}

#razer-blade-15 .description-4{
	margin-bottom: initial;
}

#ellsworth-kelly-exhibition .description-2 .project-image,#ellsworth-kelly-exhibition .description-3 .project-image{
	max-width: 500px;
}


@media(max-width: 600px){
	#hue-disco .description-2 .project-image{
		max-width: unset;
	}

	#hue-disco .description-3 .project-image{
		max-width: unset;
	}

	#telepaz .description-2 .project-image{
		max-width: unset;
		display: block;
		width: 100%;
	}

	#telepaz .description-5{
		height: unset;
		margin-bottom: -30em;
	}

	#gagito-marketplace .description-2 .project-image{
		max-width: unset;
	}

	#razer-blade-15 .description-2 .project-image{
		max-width: unset;
	}

	#razer-blade-15 .description-4 .project-image{
		max-width: unset;
	}

	#ellsworth-kelly-exhibition .description-2 .project-image,#ellsworth-kelly-exhibition .description-3 .project-image{
		max-width: unset;
	}

}