/*Variable Colors*/

:root{
	--site-color-light-10:#ffffff;
	--site-color-light-6:#737373;
	--site-color-dark-0:#000000;
	--text-color-light-10:#ffffff;
	--text-color-light-8:#dedede;
}


html{
	font-family: "Heebo", san-serif;
	font-family: "Lato" , san-serif;
	background-color: var(--site-color-dark-0);
}

/*Typographic*/

h1{
	font-family: "Heebo" , san-serif;
	font-size:4.5em;
	font-weight: 700;
	color:var(--text-color-light-10);
}

h4{
	font-family: "Heebo", san-serif;
	font-size: 2em;
	font-weight: 300;
	color:var(--text-color-light-8);
}

p{
	font-family: "Lato", san-serif;
	font-size: 1em;
	color:var(--text-color-light-10);
	font-weight: 400;
}

b{
	font-family: "Lato", san-serif;
	font-size: 1em;
	color: var(--text-color-light-10);
	font-weight: 700;
}

/*Navbar*/


#nav-menu+label {
	display:none;
}


.navbar{
	width: 100%;
	height: 200px;
	margin: 0 auto;
}

.nav{
	text-align: right;
}


.nav p{
	background-color: var(--site-color-light-6);
	color:var(--site-color-dark-0);
	font-size: 0.8em;
	font-weight: 700;
	margin-block-end: 0.5em;
	width: fit-content;
	margin-left: auto;
}

.nav p:hover{
	background-color: var(--site-color-light-10);
}

.navbar-img{
	margin-left: 2em;
}

.navbar-img img{
	width: 60px;
}
