/*Variable Colors*/

:root{
	--site-color-light-10:#ffffff;
	--site-color-light-8:#d8d7d7;
	--site-color-light-6:#737373;
	--site-color-dark-5:#2f2f2f;
	--site-color-dark-2:#212121;
	--site-color-dark-1:#101010;
	--site-color-dark-0:#000000;
	--site-color-light-alpha:#e8e7e754;
	--text-color-light-10:#ffffff;
	--text-color-light-9:#e6e6e6;
	--text-color-light-8:#dedede;
	--text-color-light-7:#a9a9a9;
	--text-color-light-6:#8c8b8b;
	--text-color-dark-2:#2b2b2b;
	--text-color-dark-0:#000007;
}


html{
	font-family: "Heebo", san-serif;
	font-family: "Lato" , san-serif;
	background-color: var(--site-color-dark-1);
	box-sizing: border-box;
	height: 100%;
	min-width: 1000px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


.container,.header-container{
	max-width: 1300px;
}

.deselect{
	filter: grayscale(0.7) opacity(0.5);
	transition: 500ms;
}


/*Typographic*/

body{
	font-family: inherit;
	position: relative;
	min-height: 100%;
	padding-bottom: 15em;
}

h1{
	font-family: "Heebo" , san-serif;
	font-size:4em;
	text-transform: uppercase;
	font-weight: 700;
	color:var(--text-color-light-10);
}

h2{
	font-family: "Lato", san-serif;
	font-size: 1.2em;
	line-height: 25px;
	font-weight: 300;
	color: var(--text-color-light-6);
}

h3{
	font-family: "Heebo" , san-serif;
	font-size:2em;
	font-weight: 700;
	color:var(--text-color-light-10);
}

h4{
	font-family: "Heebo", san-serif;
	font-size: 2em;
	font-weight: 300;
	color:var(--text-color-light-6);
}

p{
	font-family: "Lato", san-serif;
	font-size: 1em;
	color:var(--text-color-light-8);
	font-weight: 300;
}

b{
	font-family: "Lato", san-serif;
	font-size: 1em;
	color: var(--text-color-light-9);
	font-weight: 400;
}



.highlighted p{
	background-color: var(--text-color-dark-2);
	color: var(--text-color-light-8);
	font-weight: 300;
	font-size: 1em;
	width: fit-content;
	padding: 0 0.5em 0 0.5em;
}

.invert{
	filter: invert(0.8);
}



/*Navbar*/


#nav-menu+label {
	display:none;
}


.navbar{
	width: 100%;
	height: 200px;
	margin: 0 auto;
}

.nav{
	text-align: right;
}


.nav p{
	background-color: var(--site-color-light-10);
	color:var(--site-color-dark-0);
	font-size: 0.8em;
	font-weight: 700;
	margin-block-end: 0.5em;
	width: fit-content;
	margin-left: auto;
	padding: 0 0.5em 0 0.5em;
	transition: 100ms;
}

.nav span{
	color: var(--site-color-light-8);
}

.nav b{
	color:var(--site-color-dark-0);
	font-size: 1em;
	font-weight: 700;
}

.nav a p{
	background-color: var(--site-color-light-alpha);
}

.nav a p:hover{
	background-color: var(--site-color-light-10);
	color: var(--text-color-light-6);
	transition: 100ms;
}

.nav a p:hover>span{
	color: black; 
}

.site-logo img{
	width: 50px;
}

.navbar-img{
	margin-left: 2em;
}

.navbar-img img{
	width: 60px;
}

/*Prototype Navbar*/
.portfolio.navbar{
	width: 90%;
	height: 100px; 
}

.portfolio.header-container{
	max-width: 1600px;
}

.portfolio .navbar-wrapper{
	width: initial;
}

/*button*/

.button-large{
	width: 100%;
	height: 100%;
	border-radius: 0;
	border:2px solid var(--site-color-light-8);
	background-color: var(--site-color-light-8);
	font-family: "Lato", san-serif;
	font-weight: 700;
	color: var(--site-color-dark-0);
	margin: 0;
	font-size: 0.8em;
	cursor: pointer;
	transition: 300ms;
}

.button-large:hover{
	border:2px solid var(--site-color-light-10);
	background-color: var(--site-color-light-10);
}

.link-to-btn{
	border: 2px solid var(--site-color-light-8);
    background-color: var(--site-color-light-8);
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer; 
    transition: 200ms; 
    outline: none;
}

.link-to-btn span{
	font-family: 'lato', sans-serif;
    margin: 0 0.5em 0 0.5em;
    font-size: 1.4em;
    font-weight: 600;
    color: var(--text-color-dark-2);
}

.link-to-btn:hover{
	border: 2px solid var(--site-color-light-10);
    background-color: var(--site-color-light-10);
	transition: 200ms; 
}

/*Side Navigation*/

.side-nav{
	position: fixed;
	width: 30px;
	bottom: 2em;
	left: 0.5em;
}

.side-nav a{
	display: block;
	width: 30px;
	margin: 0 auto;
	margin-bottom: 0.8em;
	filter: opacity(0.6);
	transition: 300ms;
}

.side-nav a:hover{
	filter: opacity(1);
	transition: 300ms;
}

#canvas-4{
	margin: 0 auto;
    width: 100%;
    height: 150px;
}



/*Footer*/

.footer-window{
	position: absolute;
	bottom: 2em;
	right: 0;
	left: 0;
}

.social-media-icons{
}

.social-media-icons img{
	height: 30px;
}

.social-media-icons{
	text-align: right;
}

.social-media-icons a:first-child{
	margin-right: 2em;
}

.footer-text p{
	font-size: 0.7em;
	width: 400px;
	font-weight: 300;
	color: var(--text-color-light-8);

}


/*Responsive*/

@media(max-width: 600px){

	body{
		padding-bottom: 30em;
	}

	.container{
		width: 85%;
	}

	h2{
		line-height: initial;
	}

	.navbar{
		height: auto;
		padding-top: 4em;
	}

	.navbar-wrapper{
		text-align: center;
	}

	.navbar-wrapper .site-logo{
		order: 1;
		flex: 0 auto;
	}

	.navbar-wrapper .nav{
		text-align: center;
		display: none;
	}

	.navbar .mobile-nav{
		margin-top: 4em;
		padding: 5em 0 5em 0;
		width: 95%;
		border-radius: 10px;
		display: block;
		background-color: var(--site-color-dark-2);
	}

	.navbar .mobile-nav nav{
		display: flex;
	}

	.navbar .mobile-nav span {
		background-color: transparent;
		font-weight: 300;
	}

	.navbar .mobile-nav nav > a {
		flex: 1 1 auto;
		text-align: center;
		font-size: 2em;
	}

	.navbar .mobile-nav nav > a:not(:last-child){
		border-right: solid 1px var(--text-color-light-8);
	}


	.navbar-wrapper a{
		order: 3;
	}


	#nav-menu+label {
		display: block;
		font-size: 4em;
		opacity: 0.8;
		order: 2;
		flex: 1;
	}

	.portfolio .navbar-wrapper .site-logo{
		order: unset;
	}

	.portfolio .navbar-wrapper .nav{
		display: block;
		font-size: 1.5em;
	}

	.portfolio .navbar-wrapper a{
		order: unset;
	}	

	.site-logo img{
		width: 70px;
	}

	.navbar-img{
		margin-left: initial; 
	}

	.navbar-img img{
		width: 90px;
	}

	.side-nav{
		display: none;
	}

	.portfolio .header-container{
		max-width: unset;
	}

	.link-to-btn{
		height: 100%;
		padding:0 4em;
	}

	.link-to-btn span{
		display: none;
	}

	.portfolio.navbar{
		position: absolute;
		width: 90%;
		right: 50%;
		transform: translate(50%,0);
	}

	.portfolio.navbar .nav{
		font-size: 2em;
	}

	.footer-window{
		padding-bottom: 3em;
		flex-direction: column;
	}

	.social-media-icons img{
		height: 70px;
	}

	.social-media-icons{
		text-align: left;
		width: 100%;
		margin-top: 4em;
	}

	.social-media-icons a:first-child{
		margin-right: 10em;
	}

	.footer-text p{
		font-size: 1.5em;
		width: unset;
		opacity: 0.6;
	}

}

