/*Index.php*/

.index-window{
	height: 70vh;
	margin-bottom: 8em;
	text-align: center;
}

.index-detail{
	margin-top: 10em;
}

.index-detail p{
    font-size: 1.5em;
    max-width: 1000px;
    magin:0 auto;
    color: var(--text-color-light-7);
    line-height: 1.5em;
    font-weight: 300;
}


.index-title h4{
	position: relative;
	top:7px;
}

/*Index Text Animation*/

.index-title .pt1{
	animation-name: textAppearUp;
	animation-duration: 2s;
}

.index-title .pt2{
	font-size: 1em;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-name: textAppear;
	animation-duration: 1s;
	animation-delay: 100ms;
}

.index-title .pt3-wrapper{
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;
}

.index-title .pt3{
	opacity: 0;
	width: fit-content;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	animation-fill-mode: forwards;
	animation-name: textAppearDown;
	animation-duration: 1.2s;
	animation-delay: 1000ms;
}

.index-title .pt3 h1{
	margin: 0 auto;
	text-align: center;
	padding: 0 20px;
	max-width: 700px;
	font-weight: 600;
	color: var(--text-color-light-8);
	background-color: #151515;
}


@keyframes textAppearUp{
	0% {opacity: 0;padding-top: 100px;}
	50% {opacity: 1;padding-top: 100px;}
	100% {opacity: 1;padding-top: 0;}	
}

@keyframes textAppear{
	0% {opacity: 0;}
	50% {opacity: 1;}
	100% {opacity: 1;}	
}

@keyframes textAppearDown{
	0% {opacity: 0;top: -100%;}
	50% {opacity: 1;top: : -75%;}
	100% {opacity: 1;top: 0;}
}


.feature-window{
	position: relative;
	top: -120px;
}

.feature-window p{
	font-size: 1em;
	margin-left: 1em;
}

.feature-title h1{
	font-size: 2em;
	letter-spacing: initial;
}

.project-item{
	transition: 300ms;
}

.index-about-window{
	margin-top: 3em;
}

.index-about-text{
	width: 350px;
}

.index-about-text p{
	color: var(--text-color-light-8);
}

.index-about-text h2:not(:last-child){
	margin-bottom: 2em;
}

.index-about-text span{
	color: var(--text-color-light-8);
} 

.all-project-button p{
	background-color: var(--text-color-light-10);
}

.index-about-title h1{
	margin-top: -20px;
}

.index-about-title h1:not(:first-child){
	margin-top: -40px;
}

.index-about-nav{
	width: 300px;
	position: relative;
}

.index-about-text a{
	opacity: 0.6;
	display: inline-block;
	background-color: var(--text-color-light-10);
	color: var(--site-color-dark-0);
	font-weight: 700;
	padding: 0 1em 0 1em;
	margin-top: 2em;
	font-size: 0.9em;
	white-space: nowrap;
	transition: 100ms;
}

.index-about-text a:hover{
	opacity: 1;
	transition: 100ms; 
}

.project-button{
	position: absolute;
	top: 23%;
	left: 5%;
	height: 22%;
	width: 35%;
}

.resume-button{
	position: absolute;
	top: 48%;
	left: 27%;
	height: 22%;
	width: 35%;
}


/*Index Canvas*/

#index-canvas{
	width: 100vw;
	height: 700px;
	min-width: 1000px;
	max-width: 1600px;
	transform: translate(50%,0);
	right: 50%;
	display: block;
	position: absolute;
	top: 50px;
	z-index: -1;
	overflow: hidden;
	filter: opacity(0.3);
}

#canvas-1{
	position: relative;
	display: block;
	z-index: 2;
	height: 100px;
	width: 80%;
	left: -30px;
}


#canvas-2{
	width: 200px;
}

.canvas-3{
	width: 40%;
	position: relative;
	bottom: -2.2em;
	padding:0 2em 0 3em;
}

.canvas-3 canvas{
	width: 100%;
	height: 90%;
}

/*Skillset Page*/

#index-canvas.fixed{
	top: 0;
	opacity: 0.5;
}

.skillset-window{
	position:relative;
	margin-bottom: 7em;
}

.skillset-title{
	position: absolute;
	left: 0;
	top: 2em;
}

.skillset-detail{
	margin-top:2em;
}

.skillset-detail p{
	padding: 0 0.5em 0 0.5em;
	font-size: 1.1em;
}

.skillset-detail p:not(:first-child){
	margin-top: 0.5em;
}

.skill-tabs{
	width: 300px;
}

.skill-tabs .tab{
	margin-bottom: 3em;
	filter: opacity(0.5);
	cursor: pointer;
	transition: 300ms;
}

.skill-tabs .tab:hover{
	filter: opacity(0.8);
	transition: 300ms;
}

.skill-tabs .tab.active{
	filter: opacity(1);
	cursor: default;
}

.skill-tabs .tab h3{
	width: 120px;
	line-height: 35px;
}

.content-detail p{
	font-size: 1.2em;
	margin-bottom: 1em;
}

.content-tags{
	display: flex;
	flex-wrap: wrap;
	max-width: 600px;
	margin: 2em 0 2em 0; 
}

.content-tags .tag{
	color: var(--text-color-light-8);
	background-color: var(--site-color-light-6);
	padding: 0 2em 0 2em;
	margin-right: 1em;
	margin-bottom: 0.5em;
	border: solid 2px var(--site-color-light-6);
	border-radius: 7px;
}

.project-list{
	width: fit-content;
}

.project-list .project-thumbnail{
	max-width: 200px;
}

.skill-tabs-content .content.active{
	display: block;
}

.skill-tabs-content .content{
	display: none;
}

/*portfolio page*/

.portfolio-window{
	margin-top: 4em;
	margin-bottom: 8em;
}

.portfolio-title p{
	margin-top: -0.5em;
	margin-left: -0.3em;
	flex-wrap: nowrap;
}

.portfolio-title-text{
	width: 480px;
}

.portfolio-title-text p{
	margin-bottom: 1em;
	font-size: 1.2em;
	color: var(--text-color-light-7);
}

.portfolio-title-text b{
	background-color: var(--text-color-dark-2);
    color: var(--text-color-light-10);
    font-weight: 300;
    font-size: 1em;
}

.portfolio-title-text a{
	text-decoration: underline;
    color: var(--text-color-light-10);
    background-color: var(--text-color-dark-2);
}

.portfolio-label h2{
    background-color: var(--text-color-dark-2);
    color: var(--text-color-light-10);
    font-weight: 300;
    font-size: 1em;
    padding: 0 1em 0 1em;
    width: 200px;
    text-align: center;
}

.portfolio-label:not(:first-child){
	margin-top: 3em;
}

.sort-icons img{
	width: 20px;
	margin-left: 0.9em;
}

.portfolio-sort-window{
	width: 100%;
}

.sort-icons .icon{
	opacity: 0.3;
	transition: 150ms;
}

.sort-icons .icon:hover{
	opacity: 0.8;
	transition: 150ms;
}

.sort-icons .icon.active{
	opacity: 1;
}

.portfolio-item{
	transition: 200ms;
	padding: 1em;
	margin-top: 1em;
}

.portfolio-item:hover{
	border: 0px solid var(--site-color-dark-2);
	border-radius: 10px;
	background-color: var(--site-color-dark-2);
	transition: 200ms;
}

.portfolio-item .image{
	width: 150px;
}

.portfolio-item .text-wrapper{
	width: 400px;
	padding: 0 2em 0 2em;
}

.portfolio-item .text-wrapper .title{
	margin-bottom: 1em;
}

.portfolio-item .text-wrapper .title p{
	color: var(--text-color-light-6);
}

.portfolio-item .text-wrapper .name{
	margin-right: 1em;
}

.portfolio-item .text-wrapper .description{
	width: 400px;
}

.portfolio-item .text-wrapper .tag{
	margin-top: 1em;
	max-width: 500px;
	flex-wrap: wrap;
}

.tag span{
    color: var(--text-color-light-8);
    background-color: var(--site-color-dark-5);
    padding: 0 1.5em 0 1.5em;
    margin-right: 1em;
    margin-bottom: 0.7em;
    font-size: 0.8em;
    font-weight: 300;
    border: solid 2px var(--site-color-dark-5);
    border-radius: 7px;
}

.portfolio-item .github, .portfolio-item .egress{
	width: 30px;
}

.portfolio-item .links a{
	margin-left: 2em;
	width: 25px;
	opacity: 0.7;
	transition: 200ms;
}

.portfolio-item .links a[href=""]{
	display: none;
}

.portfolio-item .links a:hover{
	opacity: 1;
	transition: 200ms;
}

/*Portfolio Grid View*/

.portfolio-list-detail.gridview .portfolio-item{
	display: block;
	text-align: center;
}

.portfolio-list-detail.gridview .portfolio-label{
	display: none;
}

.portfolio-list-detail.gridview .portfolio-item .image{
	width: unset;
}

.portfolio-list-detail.gridview .portfolio-item .text-wrapper{
	width: unset;
	padding: unset;
	display: block;
	margin-top: 0.5em;
}

.portfolio-list-detail.gridview .portfolio-item .text-wrapper .title{
	margin-bottom: unset;
	display: block;
}

.portfolio-list-detail.gridview .portfolio-item .text-wrapper .name{
	margin-right: unset;
}

.portfolio-list-detail.gridview .portfolio-item .text-wrapper .description{
	display: none;
}

.portfolio-list-detail.gridview .portfolio-item .text-wrapper .tag{
	display: none;
}

.portfolio-list-detail.gridview .portfolio-item .links a{
	display: none;
}

/*Portfolio Detail Page*/

.project-banner-window{
	position: absolute;
	height: 600px;
	width: 100%;
	left: 50%;
	transform: translate(-50%, 0);
	max-width: 1800px;
	top: 0;
	z-index: -1;
}

.project-banner-textwrapper{
	width: 85%;
	margin: 0 auto;
	padding-top: 10em;
}

.project-banner-title h1{
	line-height: 1em;
}

.project-banner-title h4{
    padding-left: 2px;
    color: var(--text-color-light-8);
    font-size: 1.5em;
}

.project-banner-detail{
	width: 450px;
    margin-top: 1em;
}

.project-banner-detail p{
	font-size: 1.3em;
	font-weight: 300;
}

.project-banner-tag{
    width: 500px;
    flex-wrap: wrap;
    margin-top: 2em;
}

.project-banner-tag span{
	padding: 0.2em 1em;
	font-weight: 400;
	font-size: 1em;
	background-color: var(--site-color-light-alpha);
	border: soild 2px var(--site-color-light-alpha);
}


.project-banner-control{
	position: absolute;
	width: 600px;
	height: 100px;
	background-color: var(--site-color-dark-2);
	border-radius: 15px;
	right: 5%;
	top: 550px;
	box-shadow: 5px 5px 10px #101010;
}

.project-banner-control .text-wrapper{
	height: 100%;
	padding: 0 1.5em 0 1.5em;
} 

.project-banner-control .date{
	margin-right: 2em;
}

.project-banner-control h4{
	font-size: 0.9em;
}

.project-banner-control p{
	font-size: 1.2em;
	font-weight: 500;
}

.project-banner-control .links{
	height: 50%;
}

.project-banner-control .links img{
	width: 20px; 
}

.project-banner-control .links a[href=""]{
	display: none;
}

.project-banner-control .links a{
	position: relative;
	z-index: 10;
	opacity: 0.6;
	transition: 200ms;
}

.project-banner-control .links a:hover{
	opacity: 1;
	transition: 200ms;
}

.project-banner-control .links a{
	margin-right: 1.5em;
}


/*Portforlio Content*/

.portfolio-content p > span{
	color: var(--text-color-light-10);
}

.portfolio-content p > br {
	content: '';
    display: block;
    margin: 2em;
}


.portfolio-content-detail.container{
	max-width: 1000px; 
}

.portfolio-content .main-description{
	width: 800px;
	margin: 0 auto;
	padding-top: 650px;
}

.portfolio-content .main-description h3{
	font-weight: 300;
	color: var(--text-color-light-6);
}

.portfolio-content .main-description h3 > b{
	font-weight: 700;
}

.portfolio-content-detail ul{
    font-size: 1.2em;
    line-height: 25px;
    color: var(--text-color-light-7);
	list-style-type: circle;
}

#canvas06{
	height: 400px;
	width: 100%;
}

.description-2,.description-3,.description-4,.description-5,.description-6{
	margin-top: 9em;
}


.description-2 .project-image,.description-3 .project-image,.description-6 .project-image{
	max-width: 350px;
}

.description-2 .text,.description-6 .text {
	margin-right: 6em;
}

.description-2 .title,.description-3 .title,.description-5 .title,.description-6 .title{
	margin-bottom: 1.5em;
}

.description-2 .text h3,.description-3 .text h3,.description-4 .text h3,.description-5 .text h3,.description-6 .text h3{
	font-weight: 400;
}

.description-2 .text p,.description-3 .text p,.description-5 .text p,.description-6 .text p{
	font-size: 1.2em;
	line-height: 25px;
	color: var(--text-color-light-7);
}

.description-3 .text{
	margin-left: 6em;
}

.description-4 .text{
	flex-wrap: wrap;
	height: fit-content; 
	width: 300px;
	padding: 1em;
	background-color: var(--site-color-dark-5);
	margin-right: 2em;
}

#canvas07{
	width: 100%;
	height: 80px; 
}


.description-4{
	margin-bottom: 15em;
}

.description-4 .text h3{
	font-size: 1.6em;
	margin-bottom: 0.5em;
}

.description-4 .text p{
	font-size: 1em;
	line-height: 22px;
	color: var(--site-color-light-8);
}

.description-4 .project-image{
	text-align: center;
}

.description-4 .project-image img{
	max-width: 500px; 
}

.description-5{
	margin-bottom: 3em;
}

.description-5 .text{
	margin-bottom: 3em;
}

/*Responsive*/

@media(max-width: 600px){

	.index-title .pt3-wrapper{
		height: 160px;
	}

	.index-title .pt3 h1{
		font-size: 5em;
		max-width: unset;
	}

	.index-window{
		display: block;
		margin-top: 8em;
		margin-bottom: 20em;
	}


	.index-title h4{
		font-size: 3em;
	}

	.index-title h1{
		font-size: 6em;
	}

	.index-detail{
		font-size: 2.5em;
		line-height: 1em;
		flex: 0 350px;
		text-align: left;
		margin-top: 4em;
	}

	.index-detail p{
		font-size: 1em;
		line-height: normal;
	}

	.feature-window{
		display: block;
	}

	.feature-window p{
		display: none;
	}

	.feature-project-window{
		grid-gap: 3%;
	}

	.feature-window .feature-title{
		text-align: right;
		padding-top: 0;
	}

	.feature-title h1{
		font-size: 3em;
		text-align: left;
	}

	.all-project-button .nav{
		font-size: 3em;
		margin-top: 3em;
	}

	.index-about-window{
		display: flex;
		flex-direction: column;
	}

	.index-about-title{
		font-size: 1.5em;
	}

	.index-about{
		order: 1;
		margin-bottom: 3em;
	}

	.index-about-text{
		font-size: 1.5em;
		margin-bottom: 2em;
		width: unset;
	}

	.index-about-text{
		font-size: 2em;
		order: 2;
	}

	.index-about-nav{
		display: none;
	}

	#canvas-1{
		transform: scaleX(-1);
		width: 60%;
		right: -180px;
		opacity: 0.5;
		left: unset;
	}

	#canvas-2{
		width: 500px;
	}

	.canvas-3{
		display: none;
	}

	.portfolio-window{
		margin-top: 10em;
		display: block;
		text-align: left;
	}

	.portfolio-title{
		font-size: 1.5em;
	}

	.portfolio-title p{
		font-size: 1.5em;
	}

	.portfolio-title-text{
		width: unset;
		text-align: left;
		font-size: 2em;
		margin-top: 2em;
	}

	.portfolio-item{
		padding: 2em 0;
		margin-top: 2em;
		border-bottom: solid 1px var(--site-color-dark-5);
	}

	.portfolio-item:hover{
		background-color: inherit;
		border-bottom: solid 1px var(--site-color-dark-5);
	}

	.portfolio-item .text-wrapper .title{
		margin-bottom: unset;
		flex-direction: column;
		font-size: 2.4em;
	}

	.portfolio-item .text-wrapper .description{
		display: none;
	}

	.portfolio-item .text-wrapper .tag{
		display: none;
	}

	.portfolio-item .links a{
		width: 40px; 
	}

	.portfolio-label h2{
		width: 100%;
	    font-size: 2em;
	    margin-left: unset;
	    padding: 0.5em 0;
	}

	.skillset-window{
		margin-top: 7em;
		margin-bottom: 10em;
		display: block;
	}

	.skillset-title{
		font-size: 1.5em;
	}

	.skillset-detail{
		font-size: 1.5em;
	}

	.skill-tabs{
		margin-bottom: 1em;
		width: unset;
		font-size: 1.3em; 
	}

	.skill-tabs nav{
		display: flex;
		width: 100%;
		overflow: auto;
	}

	.skill-tabs .tab:first-child{
		margin-left: 0;
	}

	.skill-tabs-window{
		flex-direction: column;
	}

	.skill-tabs .tab{
		margin: 2em;
		font-size: 1.3em;
		width: fit-content;
		margin-right: 2em;
		white-space: nowrap;
	}

	.skill-tabs .tab h3{
		width: unset;
	}

	.content-detail{
		margin: 0 0 8em; 
	}

	.content-detail p{
		font-size: 2.5em;
	}

	.content-tags{
		margin: 5em 0 8em 0;
		max-width: unset;
	}

	.content-tags .tag{
		font-size: 2em;
	}

	.project-list .project-thumbnail{
		width:400px;
		max-width: unset;
	}

	.project-banner-control{
		font-size: 2em;
	}

	.project-banner-window{
		position: unset;
		transform: unset;
		height: unset;
		height: fit-content;
		padding-bottom: 10em;
	}

	.project-banner-textwrapper{
		font-size: 2em;
		padding-top: 7em;
	}

	.project-banner-title h4{
		margin-top: 0.5em;
	}

	.project-banner-title h1{
		font-size: 3em;
		line-height: 1em;
	}

	.portfolio-content-detail ul{
		line-height: unset;
	}

	.project-banner-tag{
		width: unset;
	}

	.project-banner-control{
		position: unset;
		width: unset;
		height: unset;
		width: 95%;
		margin: -1em auto;
		height: 150px;
		right: unset;
		top: unset;
	}

	.project-banner-detail{
		width: unset;
	}

	.portfolio-content .main-description{
		padding-top: unset;
		margin-top: 10em;
	}

	.portfolio-content .main-description h3{
		font-size: 2.5em;
	}

	.description-2{
		flex-direction: column;
	}

	.description-3,.description-4,.description-5,.description-6{
		margin-top: 20em;
	}

	.description-2 .project-image,.description-3 .project-image,.description-6 .project-image{
		max-width: unset;
	}

	.description-2 .text,.description-6 .text{
		margin-right: unset;
	}

	.description-2 .text, .description-3 .text,.description-4 .text,.description-5 .text,.description-6 .text{
		font-size: 2em;
		margin-bottom: 3em;
	}

	.description-2 .text p,.description-3 .text p,.description-5 .text p,.description-6 .text p{
		line-height: unset;
	}

	.description-2 .project-image{

	}

	.description-3{
		flex-direction: column;
	}

	.description-3 .text{
		margin-left: unset;
	}

	.description-3 .project-image{
		order: 2
	}

	.description-4{
		flex-direction: column;
	}

	.description-4 .project-image img{
		max-width: unset;
	}

	.description-4 .text{
		width: unset;
		margin-right: unset;
	}

	.description-4 .text p{
		line-height: unset;
	}


	.description-5 .text{
		text-align: left;
	}

	.description-5 .project-image{
		width: 100%;
/*		width: 285vw;
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -150vw;
		margin-right: -150vw;*/
	}


	.description-6{
		flex-direction: column;
	}


	.description-6 .project-image{
		
	}



}

