/*Index.php*/

.index-window{
	margin-top: 2em;
	margin-bottom: 8em;
	align-items: center;
}

.index-detail{
	flex: 0 200px;
	text-align: right;
}


.index-title h4{
	position: relative;
	top:25px;
}

.feature-window{
	position: relative;
	top: -120px;
}

.feature-window p{
	font-size: 1em;
	margin-left: 1em;
}

.feature-title h1{
	font-size: 2em;
	letter-spacing: initial;
}

.project-item{
	transition: 300ms;
}

.index-about-window{
	margin-top: 3em;
}

.index-about-text{
	width: 200px;
}

.index-about-text p{
	color: var(--text-color-light-6);
}

.index-about-text span{
	color: var(--text-color-light-10);
} 

.all-project-button p{
	background-color: var(--text-color-light-10);
}

.index-about-title h1{
	margin-top: -20px;
}

.index-about-title h1:not(:first-child){
	margin-top: -50px;
}

.index-about-nav{
	width: 300px;
	position: relative;
}

.index-about-text a{
	display: inline-block;
	background-color: var(--text-color-light-10);
	color: var(--site-color-dark-0);
	font-weight: 700;
	padding: 0 1em 0 1em;
	margin-top: 2em;
	font-size: 0.9em;
	white-space: nowrap;
}

.project-button{
	position: absolute;
	top: 23%;
	left: 5%;
	height: 22%;
	width: 35%;
}

.resume-button{
	position: absolute;
	top: 48%;
	left: 27%;
	height: 22%;
	width: 35%;
}


/*Index Canvas*/

#index-canvas{
	width: 100vw;
	height: 700px;
	max-width: 1600px;
	transform: translate(50%,0);
	right: 50%;
	display: block;
	position: absolute;
	top: 50px;
	z-index: -1;
	overflow: hidden;
	filter: opacity(0.3);
}

#canvas-1{
	position: relative;
	display: block;
	z-index: 2;
	height: 100px;
}


#canvas-2{
	width: 200px;
}

.canvas-3{
	position: relative;
	bottom: -2.2em;
	padding:0 2em 0 3em;
}

/*Skillset Page*/
#index-canvas.fixed{
	top: 0;
	opacity: 0.5;
}

.skillset-window{
	position:relative;
	margin-bottom: 7em;
}

.skillset-title{
	position: absolute;
	left: 0;
	top: 2em;
}

.skillset-detail{
	margin-top:2em;
}

.skillset-detail p{
	background-color: var(--site-color-light-10);
	color: var(--text-color-dark-0);
	font-weight: 400;
	width: fit-content;
	padding: 0 0.5em 0 0.5em;
}

.skillset-detail p:not(:first-child){
	margin-top: 0.5em;
}

.skill-tabs{
	width: 300px;
}

.skill-tabs .tab{
	margin-bottom: 3em;
	filter: opacity(0.5);
	cursor: pointer;
	transition: 300ms;
}

.skill-tabs .tab:hover{
	filter: opacity(0.8);
	transition: 300ms;
}

.skill-tabs .tab.active{
	filter: opacity(1);
	cursor: default;
}

.skill-tabs .tab h3{
	width: 120px;
	line-height: 35px;
}

.content-detail p{
	font-size: 1.2em;
}

.content-tags{
	display: flex;
	flex-wrap: wrap;
	max-width: 600px;
	margin: 2em 0 2em 0; 
}

.content-tags .tag{
	color: var(--text-color-light-8);
	background-color: var(--site-color-light-6);
	padding: 0 2em 0 2em;
	margin-right: 1em;
	margin-bottom: 0.5em;
	border: solid 2px var(--site-color-light-6);
	border-radius: 7px;
}

.project-list{
	width: fit-content;
}

.project-list .project-thumbnail{
	max-width: 200px;
}

.skill-tabs-content .content.active{
	display: block;
}

.skill-tabs-content .content{
	display: none;
}